$bg: #ccc;

body{
    background: $bg;
    padding: 20px 80px;
}
h1{
    color: #c20;
    font-family: cursive;
}
code{
    color: rgb(95, 83, 83);
}
ol{
    margin-bottom: 50px;
   li{
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
   }
}
